/*My first external*/

h1{
    color: darkmagenta;
    font-family: serif;
}

body{
    background-color: oldlace;
}

p{
    font-family: timesnewroman;
}

b{
	
}

i{
	
}

images{ 
    
}

nav{
	
}

li{
	
}

ul{
    color: darkblue;
}

a{
	color: blue;
}

div{
	
}

/*My screen printing video*/
video{
	
}

/*FIT map*/
iframe{
	
}

/*Screen printing survey*/
fieldset{
	border-color: gold;
}

legend{
	color: darkmagenta;
    font-family: timesnewroman;
}

textarea{
	
}

select{
	
}

br{
	
}

option{
	
}

input{
	 
 }

h2{
	color: darkmagenta;
    font-family: timesnewroman;
}

h3{
	color: darkmagenta;
    font-family: timesnewroman;
}