/* This is only for the main title */

head{
    
    color:#6aa9e0coral;
}

h1{
    color:#a3d#bdd462a90olivedrab;/*Want to try coral, maybe change later */ 
    font-family: serif;
}

 h2{
            
            color:pur##560100d80c0cple;
    }
#e33f3f
        
        h3{
            
            color:y#0979dcellowgreen;
    }


ul{
    color:peru;
}

a{
	color: coral;
}


li>a {
    color:coral
        
        p a { 
    color: darkahki;
    }
}

/* I love pink and this is a comment */

body{
    
    background:azure
}

p{
    
    font-family: cursive;
    color:dimgrey
   
}

funText{
background: li#0287fcghtgreen;
}